<form class="form-horizontal" method="POST" action="http://node.pleq.io/customer/" target="dummyframe">
	<fieldset>
	<!-- Form Name -->
	<legend>Settings</legend>
	<!-- Button -->
	<div class="form-group">
	  <label class="col-md-4 control-label" for="createCustomer"> </label>
	  <div class="col-md-4">
	    <button id="createCustomer" name="createCustomer" class="btn btn-primary">Update setting</button>
	  </div>
	</div>
	</fieldset>
</form>