<form class="form-horizontal" method="POST" action="http://node.pleq.io/customer/" target="dummyframe">
    <fieldset>
        <!-- Form Name -->
        <legend>Create Customer</legend>
             <!-- Text input -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="selectbasic">Enter a customer name</label>
        <div class="col-md-4">
         <input id="serial" name="customer" type="text" placeholder="Company name ltd" class="form-control input-md" required=""> 
        </div>
      </div>
        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="createCustomer"> </label>
            <div class="col-md-4">
                <button id="createCustomer" name="createCustomer" class="btn btn-primary">Create customer</button>
            </div>
        </div>
    </fieldset>
</form>
