<form class="form-horizontal" method="POST" action="http://node.pleq.io/device/rpc/" target="dummyframe">
    <fieldset>

    <!-- Form Name -->
    <legend> Custom commands</legend>

     <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="selectbasic">Choose a device</label>
      <div class="col-md-4">
        <select id="devices" name="serial" class="form-control">
        </select>
      </div>
    </div>


    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="selectbasic">The command name</label>
      <div class="col-md-4">
        <input id="configuration" name="key" type="text" placeholder="value" class="form-control input-md" required=""> 
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
     <label class="col-md-4 control-label" for="selectbasic">  The command parameter(s)</label>
      <div class="col-md-4">
      <input id="value" name="value" type="text" placeholder="value" class="form-control input-md" required=""> 
      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="createDevice"> </label>
      <div class="col-md-4">
        <button id="createDevice" name="createDevice" class="btn btn-primary">Send command</button>
      </div>
    </div>


    </fieldset>
</form>