
<form class="form-horizontal" method="POST" action="http://node.pleq.io/device/software" target="dummyframe">
<fieldset>

<!-- Form Name -->
<legend> Update software file</legend>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="selectbasic">Choose a device</label>
        <div class="col-md-4">
          <select id="devices" name="id" class="form-control">
          </select>
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="selectbasic">Choose a file</label>
        <div class="col-md-4">
          <select id="files" name="file" class="form-control">
          </select>
        </div>
      </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="createDevice"> </label>
  <div class="col-md-4">
    <button id="createDevice" name="createDevice" class="btn btn-primary">Update file on device</button>
  </div>
</div>
</fieldset>
</form>