<form class="form-horizontal" method="POST" action="http://node.pleq.io/device/assign" target="dummyframe">
<fieldset>

<!-- Form Name -->
<legend>Assign staged device to customer</legend>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="selectbasic">Choose a device</label>
        <div class="col-md-4">
          <select id="devices" name="id" class="form-control">
          </select>
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="selectbasic">Choose a customer</label>
        <div class="col-md-4">
          <select id="customers" name="domain" class="form-control">
          </select>
        </div>
      </div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="createDevice"> </label>
  <div class="col-md-4">
    <button id="createDevice" name="createDevice" class="btn btn-primary">Stage device</button>
  </div>
</div>

</fieldset>
</form>