<form class="form-horizontal" method="POST" action="http://node.pleq.io/device" target="dummyframe">
<fieldset>

<!-- Form Name -->
<legend>Create Device</legend>

      <!-- Text input -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="selectbasic">Enter a device ID</label>
        <div class="col-md-4">
         <input id="serial" name="serial" type="text" placeholder="PLEQ-VT1-0000XX" class="form-control input-md" required=""> 
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="selectbasic">Choose a customer</label>
        <div class="col-md-4">
          <select id="customers" name="customer" class="form-control">
          </select>
        </div>
      </div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="createDevice"> </label>
  <div class="col-md-4">
    <button id="createDevice" name="createDevice" class="btn btn-primary">Create device</button>
  </div>
</div>

</fieldset>
</form>