<form class="form-horizontal" method="POST" action="http://node.pleq.io/device/restart">
    <fieldset>
        <!-- Form Name -->
        <legend> Restart a device</legend>
        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="selectbasic">Choose a device</label>
            <div class="col-md-4">
                <select id="devices" name="serial" class="form-control">
                </select>
            </div>
        </div>
        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="createDevice"> </label>
            <div class="col-md-4">
                <button id="restart" name="restart" class="btn btn-primary">Restart</button>
            </div>
        </div>
    </fieldset>
</form>
