<form class="form-horizontal" method="POST" action="http://node.pleq.io/device/config" target="dummyframe">
    <fieldset>

    <!-- Form Name -->
    <legend> Update configuration settings</legend>

     <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="selectbasic">Choose a device</label>
      <div class="col-md-4">
        <select id="devices" name="serial" class="form-control">
        </select>
      </div>
    </div>


     <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="selectbasic">Choose setting</label>
      <div class="col-md-4">
        <select id="configurations" name="key" class="form-control">
        </select>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
     <label class="col-md-4 control-label" for="selectbasic">   </label>
      <div class="col-md-4">
      <input id="value" name="value" type="text" placeholder="value" class="form-control input-md" required=""> 
      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="createDevice"> </label>
      <div class="col-md-4">
        <button id="createDevice" name="createDevice" class="btn btn-primary">Update configration</button>
      </div>
    </div>


    </fieldset>
</form>